
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyError</title>
</head>
<body>
    <div align="center">
        <h1>
            Something went Wrong , Please try again
        </h1> 
    </div>
</body>
</html>
